.plan{
  background-color: var(--gray-300);
}
/* Estilização da section */
.planWrapper {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 20px;
}

.filterWrapper {
  display: flex;
  justify-content: center;
}

.filterPlan {
  display: flex;
  align-items: center;
  gap: 32px;
}

.planTitle {
  text-align: center;
  margin-bottom: 20px;
  color: var(--blue-800);
}

.filterPlan {
  display: flex;
  align-items: center;
}

.filterPlan > div {
  flex: 1;
}

.filterPlan .searchFilter,
.filterPlan .selectFilter {
  border: 1px solid var(--gray-700);
  border-radius: 0.3125rem;
  display: block;
  width: 100%;
  margin: 0 auto 30px;
  padding: 10px;
  font-size: 14px;
}

.cardsWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.cardPlan {
  text-align: center;
  display: inline-flex;
  gap: 0.5rem;
  flex-direction: column;
  align-items: center;
  background: var(--white-color);
  border: 2px solid var(--blue-800);
  padding: 4rem 1rem;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}
.cardPlan .namePlan {
  color: var(--blue-800);
}

.pricePlan {
  font-weight: 600;
  color: var(--gray-900);
}

.card:hover {
  transform: scale(1.02);
}

.card h2 {
  margin-top: 0;
}

@media (max-width: 600px) {
  .filterPlan .searchFilter {
    width: 90%;
  }

  .cardsWrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
