<footer class="footer">
  <div class="shapeWrapper">
    <div class="shapeElement">
      <svg
        width="1369"
        height="57"
        viewBox="0 0 1369 57"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M0 56.5V0L1052 43L1369 45.5V56.5H0Z"
          fill="url(#paint0_linear_52_5)"
        />
        <defs>
          <linearGradient
            id="paint0_linear_52_5"
            x1="684.5"
            y1="0"
            x2="684.5"
            y2="56.5"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="#00B6E6" />
            <stop offset="1" stop-color="#0079F5" />
          </linearGradient>
        </defs>
      </svg>
    </div>
  </div>
  <div class="footerWrapper">
    <div>
      <img src="assets/logo-branca.png" alt="" />
      <div class="copyContainer">
        <ul class="ulCopy">
          <li><span>Copyright © Marlin 2025</span></li>
          <li><a href="">Política de Privacidade</a></li>
          <li><span>Todos os direitos reservados.</span></li>
        </ul>
      </div>
    </div>
    <div>
      <div class="footerNav">
        <div>
          <ul class="ulLinks">
            <li class="liLink"><a href="#">Inicio</a></li>
            <li class="liLink"><a href="#">Planos</a></li>
            <li class="liLink"><a href="#">Contato</a></li>
          </ul>
        </div>
        <div class="arrowUp">
          <ul>
            <li>
              <a href="#"
                ><mat-icon
                  ><span class="material-icons"
                    >keyboard_control_key</span
                  ></mat-icon
                >
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div>
        <ul class="ulSocial">
          <li class="liSocial">
            <a href="#" target="_blank" aria-label="TikTok">
              <iconify-icon icon="simple-icons:tiktok"></iconify-icon>
            </a>
          </li>
          <li class="liSocial">
            <a href="#" target="_blank" aria-label="Twitter">
              <iconify-icon icon="fa6-brands:x-twitter"></iconify-icon>
            </a>
          </li>
          <li class="liSocial">
            <a href="#" target="_blank" aria-label="Instagram">
              <iconify-icon icon="fa6-brands:instagram"></iconify-icon>
            </a>
          </li>
          <li class="liSocial">
            <a href="#" target="_blank" aria-label="Facebook">
              <iconify-icon icon="fa6-brands:facebook"></iconify-icon>
            </a>
          </li>
          <li class="liSocial">
            <a href="#" target="_blank" aria-label="YouTube">
              <iconify-icon icon="fa6-brands:youtube"></iconify-icon>
            </a>
          </li>
          <li class="liSocial">
            <a href="#" target="_blank" aria-label="LinkedIn">
              <iconify-icon icon="fa6-brands:linkedin"></iconify-icon>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
