.hero{
  background-color: var(--gray-300);
}

.heroWrapper{
  display: flex;
  justify-content: space-between;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 1rem;
  gap: 2rem;
  align-items: center;
}

.heroContent h2{
  max-width: 10ch;
  font-family: inherit;
  font-weight: 700;
  color: var(--blue-900);
  padding-bottom: 0.5rem;
}

.heroContent p{
  max-width: 40ch;
  font-family: inherit;
  font-weight: 400;
  padding-bottom: 0.5rem;
}

.heroPrice .priceSpan{
  font-size: 0.75rem;
  font-weight: 500;
  color: var(--gray-800);
}

.heroPrice .priceValue{
  font-size: 1.875rem;
  font-weight: 700;
  color: var(--gray-800);
}

.heroPrice .priceValue .currency{
  font-size: 0.75rem;
  font-weight: 700;
  color: var(--gray-800);
}

.heroPrice .priceValue .cents{
  vertical-align: top;
  font-size: 0.75rem;
  font-weight: 700;
  color: var(--gray-800);
}

.heroBtn{
  padding-top: 2rem;
}

@media(max-width: 768px){
  .heroWrapper{
    flex-direction: column;
    padding: 1rem;
  }
}