<section class="hero">
  <div class="heroWrapper">
    <div class="heroContent">
      <h2>Marlin Odontológico</h2>
      <p>
        Planos de saúde odontológico com custos acessíveis feitos na medida
        certa!
      </p>
      <div class="heroPrice">
        <span class="priceSpan">A partir de</span>
        <h3 class="priceValue"><span class="currency">R$</span>30<span class="cents">,00</span></h3>
      </div>
      <div class="heroBtn">
        <app-button href="#">Ver Planos!</app-button>
      </div>
    </div>
    <div>
      <div>
        <img src="assets/hero-people.png" alt="Pessoa Feliz" />
      </div>
    </div>
  </div>
</section>
