:host {
  /* font */
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Colors */
  --white-color: #fff;

  /* Grays */
  --gray-200: #f4f4f4;
  --gray-300: #f3f3f4;
  --gray-700: #cdcdcd;
  --gray-800: #3b3b3b;
  --gray-900: #303030;

  /* Blues */
  --blue-900: #00376c;
  --blue-800: #005393;

  /* Sizes */
  --max-width: 1280px;
}
