/* Estilização do botão */
.btn-link{
  background-color: var(--blue-800);
  color: var(--white-color);
  padding: 0.5rem 1rem;
  border-radius: 6.1875rem;
  transition: 0.3s ease-in-out;
  border: 2px solid var(--blue-800);
}
/* Estilização do botão */
.btn-link:hover{
  border: 2px solid var(--blue-800);
  color: var(--blue-800);
  background-color: transparent;
  padding: 0.5rem 1rem;
  border-radius: 6.1875rem;
  transition: 0.3s ease-in-out;
}