<header class="header">
  <div class="headerWrapper">
    <div class="logoHeader">
      <a href="#">
        <img src="assets/logo-branca.png" alt="Logo" />
      </a>
    </div>
    <div class="menuIcon" [class.active]="isMenuOpen" (click)="toggleMenu()">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <nav class="navHeader" [class.active]="isMenuOpen">
      <ul class="ulMenu">
        <li class="liLink"><a href="#inicio">Inicio</a></li>
        <li class="liLink"><a href="#plan">Planos</a></li>
        <li class="liLink"><a href="#contact">Contato</a></li>
        <li class="liBtn">
          <a class="BtnMenu" href="#"
            ><mat-icon
              ><span class="material-icons">account_circle</span></mat-icon
            >Login</a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
